@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>So, you want to get in contact with me?</h3>

<address>
    <strong>Webmaster:</strong>   <a href="mailto:teddink@outlook.com">Ted Dinklocker</a><br />
</address>